[variant] {
  display: inline-block;
  border-radius: var(--app-size-radius);
  padding: .375rem .75rem;
  background: none;
  border: var(--app-size-border) solid var(--app-color-#{$value});
  color: var(--app-color-#{$value});

  & + & {
    margin-right: .5rem;
  }
  
  &:hover, &:focus, &:active {
    outline: 0;
    background: var(--app-color-#{$value});
    border: var(--app-size-border) solid var(--app-color-#{$value});
    color: var(--app-color-#{$value}-contrast);
    text-decoration: none;
  }

  &:focus, &:active {
    box-shadow: 0 0 0 .25rem rgba(var(--app-color-#{$value}-rgb), .3);
  }

  &:disabled {
    opacity: 1;
    border: var(--app-size-border) solid rgba(var(--app-color-#{$value}-rgb), .5);
    color: rgba(var(--app-color-#{$value}-rgb), .5);
    box-shadow: none;
    background: none;
  }
}