.table-light {
  width: 100%;
  text-align: left;
  background: var(--app-color-light);
  color: var(--app-color-light-contrast);
}
.table-light tr {
  margin: 0;
  padding: 0;
}
.table-light th {
  font-weight: 700;
}
.table-light th, .table-light td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-color-light-tint);
}
.table-light thead th {
  border-bottom: 1px solid var(--app-color-light-shade);
}