.table-light {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: var(--app-color-light);
  color: var(--app-color-light-contrast);
  box-shadow: var(--app-size-shadow);
}
.table-light tr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--app-color-light-shade);
  height: 48px;
}
.table-light th, .table-light td {
  padding-left: 1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--app-color-light-shade);
}
.table-light thead tr {
  height: 56px;
}
.table-light thead th {
  font-size: 0.75rem;
  color: rgba(var(--app-color-light-contrast-rgb), 0.5);
  font-weight: normal;
}
.table-light tbody tr:last-child {
  border-bottom: none;
}
.table-light tbody th {
  font-weight: normal;
}