.badge-outline-tertiary {
  border-radius: var(--app-size-radius);
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  font-weight: 700;
  background: none;
  color: var(--app-color-tertiary);
  border: 1px solid var(--app-color-tertiary);
}