.table-borderless-warning {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
  border: 1px solid var(--app-color-warning);
}
.table-borderless-warning tr {
  margin: 0;
  padding: 0;
}
.table-borderless-warning th {
  font-weight: 700;
}
.table-borderless-warning th, .table-borderless-warning td {
  padding: 0.5rem;
}
.table-borderless-warning thead th, .table-borderless-warning th, .table-borderless-warning td {
  border: none !important;
}