.alert-medium {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  border-radius: var(--app-size-radius);
  font-weight: 500;
  background: rgba(var(--app-color-medium-rgb), 0.3);
  color: var(--app-color-medium-shade);
  border: var(--app-size-border) solid var(--app-color-medium);
}
.alert-medium em {
  display: block;
  flex: 1;
}