.form-control-light-xl {
  display: block;
  width: calc(100% - (var(--app-size-spacing) * 1.425));
  padding: calc(var(--app-size-spacing) * 1.05) calc(var(--app-size-spacing) * 1.05) calc(var(--app-size-spacing) * 1.05) calc(var(--app-size-spacing) * 0.375);
  color: var(--app-color-foreground);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--app-color-medium);
  background: none;
  font-size: 1.725rem;
}
.form-control-light-xl + .form-control-light-xl {
  margin-top: var(--app-size-spacing);
}
.form-control-light-xl:focus {
  outline: 0;
  border-bottom-width: 2px;
  border-color: var(--app-color-light-shade);
}
.form-control-light-xl:disabled, .form-control-light-xl[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-light-xl[type=file] {
  overflow: hidden;
}
.form-control-light-xl[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}