.button-success {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  padding: 0.375rem 0.75rem;
  background: var(--app-color-success);
  color: var(--app-color-success-contrast);
}
.button-success + .button-success {
  margin-right: 0.5rem;
}
.button-success:hover, .button-success:focus, .button-success:active {
  outline: 0;
  background: var(--app-color-success-shade);
  color: var(--app-color-success-contrast);
  text-decoration: none;
}
.button-success:focus, .button-success:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-success-rgb), 0.3);
}
.button-success:disabled {
  opacity: 1;
  background: rgba(var(--app-color-success-rgb), 0.5);
  color: rgba(var(--app-color-success-contrast-rgb), 0.5);
  box-shadow: none;
}