@import '@unistylus/core';

[default] {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  border-radius: r();
  box-shadow: z();
  position: relative;
  overflow: hidden;
  background: bg('tint');
  color: bg('contrast');
  padding: p('*', .6) p('*', 1.2);

  & + & {
    margin-right: m('*', .5);
  }

  &:hover, &:focus, &.active {
    outline: 0;
    text-decoration: none;
  }

  &:disabled {
    opacity: 1;
    cursor: default;
    background: rgba(me-rgb(), .3);
    color: rgba(me-rgb(), .75);
  }
  
  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button_ripple 350ms linear;
    background-color: rgba(fg-rgb(), .3);
  }

  @keyframes button_ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}
