@import '@unistylus/core';

[variant] {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  border-radius: r();
  box-shadow: 0 3px 1px -2px rgba(var(--app-color-foreground-rgb), .2), 0 2px 2px 0 rgba(var(--app-color-foreground-rgb), .14), 0 1px 5px 0 rgba(var(--app-color-foreground-rgb), .12);
  position: relative;
  overflow: hidden;
  background: var(--app-color-#{$value1});
  color: var(--app-color-#{$value1}-contrast);
  padding: p('*', .6 * #{$value2}) p('*', 1.2 * #{$value2});
  font-size: calc(#{$value2} * var(--app-size-font));

  & + & {
    margin-right: m('*', .5);
  }

  &:hover, &:focus, &.active {
    outline: 0;
    text-decoration: none;
  }

  &:disabled {
    opacity: 1;
    cursor: default;
    background: rgba(var(--app-color-#{$value1}-rgb), .3);
    color: rgba(var(--app-color-#{$value1}-contrast), .5);
  }
  
  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: button_ripple 350ms linear;
    background-color: rgba(var(--app-color-#{$value1}-contrast-rgb), .3);
  }

  @keyframes button_ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}