.table-bordered-success {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
}
.table-bordered-success tr {
  margin: 0;
  padding: 0;
}
.table-bordered-success th {
  font-weight: 700;
}
.table-bordered-success th, .table-bordered-success td {
  padding: 0.5rem;
}
.table-bordered-success thead th, .table-bordered-success th, .table-bordered-success td {
  border: 1px solid var(--app-color-success);
}