.table-warning {
  width: 100%;
  text-align: left;
  background: var(--app-color-warning);
  color: var(--app-color-warning-contrast);
}
.table-warning tr {
  margin: 0;
  padding: 0;
}
.table-warning th {
  font-weight: 700;
}
.table-warning th, .table-warning td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-color-warning-tint);
}
.table-warning thead th {
  border-bottom: 1px solid var(--app-color-warning-shade);
}