.table-warning {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: var(--app-color-warning);
  color: var(--app-color-warning-contrast);
  box-shadow: var(--app-size-shadow);
}
.table-warning tr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--app-color-warning-shade);
  height: 48px;
}
.table-warning th, .table-warning td {
  padding-left: 1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--app-color-warning-shade);
}
.table-warning thead tr {
  height: 56px;
}
.table-warning thead th {
  font-size: 0.75rem;
  color: rgba(var(--app-color-warning-contrast-rgb), 0.5);
  font-weight: normal;
}
.table-warning tbody tr:last-child {
  border-bottom: none;
}
.table-warning tbody th {
  font-weight: normal;
}