.form-control-medium {
  display: block;
  width: calc(100% - (var(--app-size-spacing) * 0.95));
  padding: calc(var(--app-size-spacing) * 0.7) calc(var(--app-size-spacing) * 0.7) calc(var(--app-size-spacing) * 0.7) calc(var(--app-size-spacing) * 0.25);
  color: var(--app-color-foreground);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--app-color-medium);
  background: none;
  font-size: 1.15rem;
}
.form-control-medium + .form-control-medium {
  margin-top: var(--app-size-spacing);
}
.form-control-medium:focus {
  outline: 0;
  border-bottom-width: 2px;
  border-color: var(--app-color-medium);
}
.form-control-medium:disabled, .form-control-medium[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-medium[type=file] {
  overflow: hidden;
}
.form-control-medium[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}