.button-background-sm {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  background: var(--app-color-background);
  color: var(--app-color-background-contrast);
  padding: 0.28125rem 0.5625rem;
  font-size: calc(0.75 * var(--app-size-font));
}
.button-background-sm + .button-background-sm {
  margin-right: 0.5rem;
}
.button-background-sm:hover, .button-background-sm:focus, .button-background-sm:active {
  outline: 0;
  background: var(--app-color-background-shade);
  color: var(--app-color-background-contrast);
  text-decoration: none;
}
.button-background-sm:focus, .button-background-sm:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-background-rgb), 0.3);
}
.button-background-sm:disabled {
  opacity: 1;
  background: rgba(var(--app-color-background-rgb), 0.5);
  color: rgba(var(--app-color-background-contrast-rgb), 0.5);
  box-shadow: none;
}