.form-control-primary-lg {
  display: block;
  width: 100%;
  padding: 0.5rem 0.25rem;
  background: var(--app-color-background);
  color: var(--app-color-primary);
  border-bottom: var(--app-size-border) solid var(--app-color-primary);
  padding: 0.75rem 0.375rem;
  font-size: calc(1.5 * var(--app-size-font));
}
.form-control-primary-lg + .form-control-primary-lg {
  margin-top: 1rem;
}
.form-control-primary-lg:focus {
  outline: 0;
  border-color: var(--app-color-primary-shade);
}
.form-control-primary-lg:disabled, .form-control-primary-lg[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-primary-lg[type=file] {
  overflow: hidden;
}
.form-control-primary-lg[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}