.table-success {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: var(--app-color-success);
  color: var(--app-color-success-contrast);
  box-shadow: var(--app-size-shadow);
}
.table-success tr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--app-color-success-shade);
  height: 48px;
}
.table-success th, .table-success td {
  padding-left: 1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--app-color-success-shade);
}
.table-success thead tr {
  height: 56px;
}
.table-success thead th {
  font-size: 0.75rem;
  color: rgba(var(--app-color-success-contrast-rgb), 0.5);
  font-weight: normal;
}
.table-success tbody tr:last-child {
  border-bottom: none;
}
.table-success tbody th {
  font-weight: normal;
}