.button-light-lg {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  border-radius: var(--app-size-radius);
  box-shadow: var(--app-size-shadow);
  position: relative;
  overflow: hidden;
  background: var(--app-color-light);
  color: var(--app-color-light-contrast);
  padding: calc(var(--app-size-spacing) * 0.72) calc(var(--app-size-spacing) * 1.44);
  font-size: calc(1.2 * var(--app-size-font));
}
.button-light-lg + .button-light-lg {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-light-lg:hover, .button-light-lg:focus, .button-light-lg.active {
  outline: 0;
  text-decoration: none;
}
.button-light-lg:disabled {
  opacity: 1;
  cursor: default;
  background: rgba(var(--app-color-light-rgb), 0.3);
  color: rgba(var(--app-color-light-contrast), 0.5);
}
.button-light-lg span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: button_ripple 350ms linear;
  background-color: rgba(var(--app-color-light-contrast-rgb), 0.3);
}
@keyframes button_ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}