.form-control-medium-xs {
  display: block;
  width: 100%;
  padding: 0.5rem 0.25rem;
  background: var(--app-color-background);
  color: var(--app-color-medium);
  border-bottom: var(--app-size-border) solid var(--app-color-medium);
  padding: 0.03125rem 0.015625rem;
  font-size: calc(0.0625 * var(--app-size-font));
}
.form-control-medium-xs + .form-control-medium-xs {
  margin-top: 1rem;
}
.form-control-medium-xs:focus {
  outline: 0;
  border-color: var(--app-color-medium-shade);
}
.form-control-medium-xs:disabled, .form-control-medium-xs[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-medium-xs[type=file] {
  overflow: hidden;
}
.form-control-medium-xs[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}