.table-dark {
  width: 100%;
  text-align: left;
  background: var(--app-color-dark);
  color: var(--app-color-dark-contrast);
}
.table-dark tr {
  margin: 0;
  padding: 0;
}
.table-dark th {
  font-weight: 700;
}
.table-dark th, .table-dark td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-color-dark-tint);
}
.table-dark thead th {
  border-bottom: 1px solid var(--app-color-dark-shade);
}