.table-dark {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: var(--app-color-dark);
  color: var(--app-color-dark-contrast);
  box-shadow: var(--app-size-shadow);
}
.table-dark tr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--app-color-dark-shade);
  height: 48px;
}
.table-dark th, .table-dark td {
  padding-left: 1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--app-color-dark-shade);
}
.table-dark thead tr {
  height: 56px;
}
.table-dark thead th {
  font-size: 0.75rem;
  color: rgba(var(--app-color-dark-contrast-rgb), 0.5);
  font-weight: normal;
}
.table-dark tbody tr:last-child {
  border-bottom: none;
}
.table-dark tbody th {
  font-weight: normal;
}