.alert-outline-secondary {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  border-radius: var(--app-size-radius);
  font-weight: 500;
  background: none;
  color: var(--app-color-secondary-shade);
  border: var(--app-size-border) solid var(--app-color-secondary);
}
.alert-outline-secondary em {
  display: block;
  flex: 1;
}