.button-outline-primary-sm {
  display: inline-block;
  border-radius: var(--app-size-radius);
  background: none;
  border: var(--app-size-border) solid var(--app-color-primary);
  color: var(--app-color-primary);
  padding: 0.3rem 0.6rem;
  font-size: calc(0.8 * var(--app-size-font));
}
.button-outline-primary-sm + .button-outline-primary-sm {
  margin-right: 0.5rem;
}
.button-outline-primary-sm:hover, .button-outline-primary-sm:focus, .button-outline-primary-sm:active {
  outline: 0;
  background: var(--app-color-primary);
  border: var(--app-size-border) solid var(--app-color-primary);
  color: var(--app-color-primary-contrast);
  text-decoration: none;
}
.button-outline-primary-sm:focus, .button-outline-primary-sm:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-primary-rgb), 0.3);
}
.button-outline-primary-sm:disabled {
  opacity: 1;
  border: var(--app-size-border) solid rgba(var(--app-color-primary-rgb), 0.5);
  color: rgba(var(--app-color-primary-rgb), 0.5);
  box-shadow: none;
  background: none;
}