.icon-medium-3x {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 3rem;
  height: 3rem;
  filter: var(--app-recolor-medium);
}