.table-hover-foreground {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
}
.table-hover-foreground tr {
  margin: 0;
  padding: 0;
}
.table-hover-foreground th {
  font-weight: 700;
}
.table-hover-foreground th, .table-hover-foreground td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-color-background-shade);
}
.table-hover-foreground thead th {
  border-bottom: 1px solid var(--app-color-foreground);
}
.table-hover-foreground tbody tr:hover {
  background: var(--app-color-foreground-shade);
  color: var(--app-color-foreground-contrast);
}