.form-control-foreground-xl {
  display: block;
  width: 100%;
  padding: 0.5rem 0.25rem;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
  border-bottom: var(--app-size-border) solid var(--app-color-foreground);
  padding: 1.875rem 0.9375rem;
  font-size: calc(3.75 * var(--app-size-font));
}
.form-control-foreground-xl + .form-control-foreground-xl {
  margin-top: 1rem;
}
.form-control-foreground-xl:focus {
  outline: 0;
  border-color: var(--app-color-foreground-shade);
}
.form-control-foreground-xl:disabled, .form-control-foreground-xl[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-foreground-xl[type=file] {
  overflow: hidden;
}
.form-control-foreground-xl[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}