.table-striped-background {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-background-contrast);
}
.table-striped-background tr {
  margin: 0;
  padding: 0;
}
.table-striped-background th {
  font-weight: 700;
}
.table-striped-background th, .table-striped-background td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-color-background-shade);
}
.table-striped-background thead th {
  border-bottom: 1px solid var(--app-color-foreground);
}
.table-striped-background thead tr, .table-striped-background tbody tr:nth-of-type(even) {
  background: var(--app-color-background);
}
.table-striped-background tbody tr:nth-of-type(odd) {
  background: var(--app-color-background-shade);
}