.button-warning-lg {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  background: var(--app-color-warning);
  color: var(--app-color-warning-contrast);
  padding: 0.5625rem 1.125rem;
  font-size: calc(1.5 * var(--app-size-font));
}
.button-warning-lg + .button-warning-lg {
  margin-right: 0.5rem;
}
.button-warning-lg:hover, .button-warning-lg:focus, .button-warning-lg:active {
  outline: 0;
  background: var(--app-color-warning-shade);
  color: var(--app-color-warning-contrast);
  text-decoration: none;
}
.button-warning-lg:focus, .button-warning-lg:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-warning-rgb), 0.3);
}
.button-warning-lg:disabled {
  opacity: 1;
  background: rgba(var(--app-color-warning-rgb), 0.5);
  color: rgba(var(--app-color-warning-contrast-rgb), 0.5);
  box-shadow: none;
}