.button-outline-foreground-lg {
  display: inline-block;
  border-radius: var(--app-size-radius);
  background: none;
  border: var(--app-size-border) solid var(--app-color-foreground);
  color: var(--app-color-foreground);
  padding: 0.45rem 0.9rem;
  font-size: calc(1.2 * var(--app-size-font));
}
.button-outline-foreground-lg + .button-outline-foreground-lg {
  margin-right: 0.5rem;
}
.button-outline-foreground-lg:hover, .button-outline-foreground-lg:focus, .button-outline-foreground-lg:active {
  outline: 0;
  background: var(--app-color-foreground);
  border: var(--app-size-border) solid var(--app-color-foreground);
  color: var(--app-color-foreground-contrast);
  text-decoration: none;
}
.button-outline-foreground-lg:focus, .button-outline-foreground-lg:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-foreground-rgb), 0.3);
}
.button-outline-foreground-lg:disabled {
  opacity: 1;
  border: var(--app-size-border) solid rgba(var(--app-color-foreground-rgb), 0.5);
  color: rgba(var(--app-color-foreground-rgb), 0.5);
  box-shadow: none;
  background: none;
}