.button-tertiary {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  padding: 0.375rem 0.75rem;
  background: var(--app-color-tertiary);
  color: var(--app-color-tertiary-contrast);
}
.button-tertiary + .button-tertiary {
  margin-right: 0.5rem;
}
.button-tertiary:hover, .button-tertiary:focus, .button-tertiary:active {
  outline: 0;
  background: var(--app-color-tertiary-shade);
  color: var(--app-color-tertiary-contrast);
  text-decoration: none;
}
.button-tertiary:focus, .button-tertiary:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-tertiary-rgb), 0.3);
}
.button-tertiary:disabled {
  opacity: 1;
  background: rgba(var(--app-color-tertiary-rgb), 0.5);
  color: rgba(var(--app-color-tertiary-contrast-rgb), 0.5);
  box-shadow: none;
}