.table-tertiary {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: var(--app-color-tertiary);
  color: var(--app-color-tertiary-contrast);
  box-shadow: var(--app-size-shadow);
}
.table-tertiary tr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--app-color-tertiary-shade);
  height: 48px;
}
.table-tertiary th, .table-tertiary td {
  padding-left: 1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--app-color-tertiary-shade);
}
.table-tertiary thead tr {
  height: 56px;
}
.table-tertiary thead th {
  font-size: 0.75rem;
  color: rgba(var(--app-color-tertiary-contrast-rgb), 0.5);
  font-weight: normal;
}
.table-tertiary tbody tr:last-child {
  border-bottom: none;
}
.table-tertiary tbody th {
  font-weight: normal;
}