.form-control-warning-sm {
  display: block;
  width: calc(100% - (var(--app-size-spacing) * 0.76));
  padding: calc(var(--app-size-spacing) * 0.56) calc(var(--app-size-spacing) * 0.56) calc(var(--app-size-spacing) * 0.56) calc(var(--app-size-spacing) * 0.2);
  color: var(--app-color-foreground);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--app-color-medium);
  background: none;
  font-size: 0.92rem;
}
.form-control-warning-sm + .form-control-warning-sm {
  margin-top: var(--app-size-spacing);
}
.form-control-warning-sm:focus {
  outline: 0;
  border-bottom-width: 2px;
  border-color: var(--app-color-warning-shade);
}
.form-control-warning-sm:disabled, .form-control-warning-sm[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-warning-sm[type=file] {
  overflow: hidden;
}
.form-control-warning-sm[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}