.table-background {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: var(--app-color-background);
  color: var(--app-color-background-contrast);
  box-shadow: var(--app-size-shadow);
}
.table-background tr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--app-color-background-shade);
  height: 48px;
}
.table-background th, .table-background td {
  padding-left: 1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--app-color-background-shade);
}
.table-background thead tr {
  height: 56px;
}
.table-background thead th {
  font-size: 0.75rem;
  color: rgba(var(--app-color-background-contrast-rgb), 0.5);
  font-weight: normal;
}
.table-background tbody tr:last-child {
  border-bottom: none;
}
.table-background tbody th {
  font-weight: normal;
}