.table-bordered-medium {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
}
.table-bordered-medium tr {
  margin: 0;
  padding: 0;
}
.table-bordered-medium th {
  font-weight: 700;
}
.table-bordered-medium th, .table-bordered-medium td {
  padding: 0.5rem;
}
.table-bordered-medium thead th, .table-bordered-medium th, .table-bordered-medium td {
  border: 1px solid var(--app-color-medium);
}