.button-primary {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  border-radius: var(--app-size-radius);
  box-shadow: var(--app-size-shadow);
  position: relative;
  overflow: hidden;
  background: var(--app-color-primary);
  color: var(--app-color-primary-contrast);
  padding: calc(var(--app-size-spacing) * 0.6) calc(var(--app-size-spacing) * 1.2);
}
.button-primary + .button-primary {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-primary:hover, .button-primary:focus, .button-primary.active {
  outline: 0;
  text-decoration: none;
}
.button-primary:disabled {
  opacity: 1;
  cursor: default;
  background: rgba(var(--app-color-primary-rgb), 0.3);
  color: rgba(var(--app-color-primary-contrast), 0.5);
}
.button-primary span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: button_ripple 350ms linear;
  background-color: rgba(var(--app-color-primary-contrast-rgb), 0.3);
}
@keyframes button_ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}