[variant] {
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: #{$value2}rem;
  height: #{$value2}rem;
  filter: var(--app-recolor-#{$value1});
}