.table-secondary {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: var(--app-color-secondary);
  color: var(--app-color-secondary-contrast);
  box-shadow: var(--app-size-shadow);
}
.table-secondary tr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--app-color-secondary-shade);
  height: 48px;
}
.table-secondary th, .table-secondary td {
  padding-left: 1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--app-color-secondary-shade);
}
.table-secondary thead tr {
  height: 56px;
}
.table-secondary thead th {
  font-size: 0.75rem;
  color: rgba(var(--app-color-secondary-contrast-rgb), 0.5);
  font-weight: normal;
}
.table-secondary tbody tr:last-child {
  border-bottom: none;
}
.table-secondary tbody th {
  font-weight: normal;
}