.form-control-light-xs {
  display: block;
  width: calc(100% - (var(--app-size-spacing) * 0.57));
  padding: calc(var(--app-size-spacing) * 0.42) calc(var(--app-size-spacing) * 0.42) calc(var(--app-size-spacing) * 0.42) calc(var(--app-size-spacing) * 0.15);
  color: var(--app-color-foreground);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--app-color-medium);
  background: none;
  font-size: 0.69rem;
}
.form-control-light-xs + .form-control-light-xs {
  margin-top: var(--app-size-spacing);
}
.form-control-light-xs:focus {
  outline: 0;
  border-bottom-width: 2px;
  border-color: var(--app-color-light-shade);
}
.form-control-light-xs:disabled, .form-control-light-xs[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-light-xs[type=file] {
  overflow: hidden;
}
.form-control-light-xs[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}