.table-bordered-foreground {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
}
.table-bordered-foreground tr {
  margin: 0;
  padding: 0;
}
.table-bordered-foreground th {
  font-weight: 700;
}
.table-bordered-foreground th, .table-bordered-foreground td {
  padding: 0.5rem;
}
.table-bordered-foreground thead th, .table-bordered-foreground th, .table-bordered-foreground td {
  border: 1px solid var(--app-color-foreground);
}