<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preview</title>
  <link rel="stylesheet" href="https://unpkg.com/@lamnhan/unistylus@latest/css/skins/light-default.min.css">
  <link rel="stylesheet" href="./index.css">
</head>
<body>

  <section class="preview">
  <!-- PREVIEW STARTS -->
  
  <span default>Badge</span>
  <span default class="round">1</span>
    
  <!-- PREVIEW ENDS -->
  </section>
  
</body>
</html>
