[variant] {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
  border: 1px solid var(--app-color-#{$value});

  tr {
    margin: 0;
    padding: 0;
  }
  
  th {
    font-weight: 700;
  }

  th, td {
    padding: .5rem;
  }

  thead th, th, td {
    border: none !important;
  }
}