@import '@unistylus/core';

[default] {
  display: block;
  width: calc(100% - 1rem);
  padding: .75rem .5rem;
  color: var(--app-color-foreground);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--app-color-medium);
  background: bg();

  & + & {
    margin-top: 1rem;
  }

  &:focus {
    outline: 0;
    border-bottom-width: 2px;
    border-color: var(--app-color-foreground);
  }

  &:disabled, &[readonly] {
    opacity: 1;
    background: var(--app-color-background-shade);
    border-color: var(--app-color-medium);
  }

  &[type=file] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }
}