@import '@unistylus/core';

[default] {
  display: block;
  width: calc(100% - p('*', .95));
  padding: p('*', .7) p('*', .7) p('*', .7) p('*', .25);
  color: var(--app-color-foreground);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--app-color-medium);
  background: none;
  font-size: 1.15rem;

  & + & {
    margin-top: m();
  }

  &:focus {
    outline: 0;
    border-bottom-width: 2px;
    border-color: var(--app-color-foreground);
  }

  &:disabled, &[readonly] {
    opacity: 1;
    background: var(--app-color-background-shade);
    border-color: var(--app-color-medium);
  }

  &[type=file] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }
}