.button-outline-background-xs {
  display: inline-block;
  border-radius: var(--app-size-radius);
  background: none;
  border: var(--app-size-border) solid var(--app-color-background);
  color: var(--app-color-background);
  padding: 0.225rem 0.45rem;
  font-size: calc(0.6 * var(--app-size-font));
}
.button-outline-background-xs + .button-outline-background-xs {
  margin-right: 0.5rem;
}
.button-outline-background-xs:hover, .button-outline-background-xs:focus, .button-outline-background-xs:active {
  outline: 0;
  background: var(--app-color-background);
  border: var(--app-size-border) solid var(--app-color-background);
  color: var(--app-color-background-contrast);
  text-decoration: none;
}
.button-outline-background-xs:focus, .button-outline-background-xs:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-background-rgb), 0.3);
}
.button-outline-background-xs:disabled {
  opacity: 1;
  border: var(--app-size-border) solid rgba(var(--app-color-background-rgb), 0.5);
  color: rgba(var(--app-color-background-rgb), 0.5);
  box-shadow: none;
  background: none;
}