.button-outline-tertiary {
  display: inline-block;
  border-radius: var(--app-size-radius);
  padding: 0.375rem 0.75rem;
  background: none;
  border: var(--app-size-border) solid var(--app-color-tertiary);
  color: var(--app-color-tertiary);
}
.button-outline-tertiary + .button-outline-tertiary {
  margin-right: 0.5rem;
}
.button-outline-tertiary:hover, .button-outline-tertiary:focus, .button-outline-tertiary:active {
  outline: 0;
  background: var(--app-color-tertiary);
  border: var(--app-size-border) solid var(--app-color-tertiary);
  color: var(--app-color-tertiary-contrast);
  text-decoration: none;
}
.button-outline-tertiary:focus, .button-outline-tertiary:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-tertiary-rgb), 0.3);
}
.button-outline-tertiary:disabled {
  opacity: 1;
  border: var(--app-size-border) solid rgba(var(--app-color-tertiary-rgb), 0.5);
  color: rgba(var(--app-color-tertiary-rgb), 0.5);
  box-shadow: none;
  background: none;
}