[default] {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);

  tr {
    margin: 0;
    padding: 0;
  }
  
  th {
    font-weight: 700;
  }

  th, td {
    padding: .5rem;
    border-bottom: 1px solid var(--app-color-background-shade);
  }

  thead th {
    border-bottom: 1px solid var(--app-color-foreground);
  }

  tbody tr:hover {
    background: var(--app-color-background-shade);
  }
}