.table-striped {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
}
.table-striped tr {
  margin: 0;
  padding: 0;
}
.table-striped th {
  font-weight: 700;
}
.table-striped th, .table-striped td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-color-background-shade);
}
.table-striped thead th {
  border-bottom: 1px solid var(--app-color-foreground);
}
.table-striped thead tr, .table-striped tbody tr:nth-of-type(even) {
  background: var(--app-color-background);
}
.table-striped tbody tr:nth-of-type(odd) {
  background: var(--app-color-background-shade);
}