.form-control-success-lg {
  display: block;
  width: calc(100% - (var(--app-size-spacing) * 1.14));
  padding: calc(var(--app-size-spacing) * 0.84) calc(var(--app-size-spacing) * 0.84) calc(var(--app-size-spacing) * 0.84) calc(var(--app-size-spacing) * 0.3);
  color: var(--app-color-foreground);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--app-color-medium);
  background: none;
  font-size: 1.38rem;
}
.form-control-success-lg + .form-control-success-lg {
  margin-top: var(--app-size-spacing);
}
.form-control-success-lg:focus {
  outline: 0;
  border-bottom-width: 2px;
  border-color: var(--app-color-success-shade);
}
.form-control-success-lg:disabled, .form-control-success-lg[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-success-lg[type=file] {
  overflow: hidden;
}
.form-control-success-lg[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}