.table-borderless-primary {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
  border: 1px solid var(--app-color-primary);
}
.table-borderless-primary tr {
  margin: 0;
  padding: 0;
}
.table-borderless-primary th {
  font-weight: 700;
}
.table-borderless-primary th, .table-borderless-primary td {
  padding: 0.5rem;
}
.table-borderless-primary thead th, .table-borderless-primary th, .table-borderless-primary td {
  border: none !important;
}