:root,
[data-theme=default],
[data-theme=dark] {
  --app-font-body: "Roboto", sans-serif;
  --app-font-head: "Roboto", sans-serif;
  --app-font-quote: "Dancing Script", cursive;
  --app-font-code: "Roboto Mono", monospace;
  --app-size-font: 16px;
  --app-size-spacing: 16px;
  --app-size-radius: 4px;
  --app-size-border: 1px;
  --app-size-shadow: 0 5px 5px -3px rgba(var(--app-color-foreground-rgb), .2), 0 8px 10px 1px rgba(var(--app-color-foreground-rgb), .14), 0 3px 14px 2px rgba(var(--app-color-foreground-rgb), .12);
  --app-color-primary: #3f51b5;
  --app-color-primary-rgb: 63,81,181;
  --app-color-primary-contrast: #ffffff;
  --app-color-primary-contrast-rgb: 255,255,255;
  --app-color-primary-shade: #37479f;
  --app-color-primary-tint: #5262bc;
  --app-color-secondary: #ff4081;
  --app-color-secondary-rgb: 255,64,129;
  --app-color-secondary-contrast: #000000;
  --app-color-secondary-contrast-rgb: 0,0,0;
  --app-color-secondary-shade: #e03872;
  --app-color-secondary-tint: #ff538e;
  --app-color-tertiary: #673ab7;
  --app-color-tertiary-rgb: 103,58,183;
  --app-color-tertiary-contrast: #ffffff;
  --app-color-tertiary-contrast-rgb: 255,255,255;
  --app-color-tertiary-shade: #5b33a1;
  --app-color-tertiary-tint: #764ebe;
  --app-color-success: #69f0ae;
  --app-color-success-rgb: 105,240,174;
  --app-color-success-contrast: #000000;
  --app-color-success-contrast-rgb: 0,0,0;
  --app-color-success-shade: #5cd399;
  --app-color-success-tint: #78f2b6;
  --app-color-warning: #ffd740;
  --app-color-warning-rgb: 255,215,64;
  --app-color-warning-contrast: #000000;
  --app-color-warning-contrast-rgb: 0,0,0;
  --app-color-warning-shade: #e0bd38;
  --app-color-warning-tint: #ffdb53;
  --app-color-danger: #f44336;
  --app-color-danger-rgb: 244,67,54;
  --app-color-danger-contrast: #ffffff;
  --app-color-danger-contrast-rgb: 255,255,255;
  --app-color-danger-shade: #d73b30;
  --app-color-danger-tint: #f5564a;
  --app-color-dark: #303030;
  --app-color-dark-rgb: 48,48,48;
  --app-color-dark-contrast: #ffffff;
  --app-color-dark-contrast-rgb: 255,255,255;
  --app-color-dark-shade: #2a2a2a;
  --app-color-dark-tint: #454545;
  --app-color-medium: #afafaf;
  --app-color-medium-rgb: 175,175,175;
  --app-color-medium-contrast: #000000;
  --app-color-medium-contrast-rgb: 0,0,0;
  --app-color-medium-shade: #9a9a9a;
  --app-color-medium-tint: #b7b7b7;
  --app-color-light: #fafafa;
  --app-color-light-rgb: 250,250,250;
  --app-color-light-contrast: #000000;
  --app-color-light-contrast-rgb: 0,0,0;
  --app-color-light-shade: #dcdcdc;
  --app-color-light-tint: #fbfbfb;
  --app-color-background: var(--app-color-dark);
  --app-color-background-rgb: var(--app-color-dark-rgb);
  --app-color-background-contrast: var(--app-color-dark-contrast);
  --app-color-background-contrast-rgb: var(--app-color-dark-contrast-rgb);
  --app-color-background-shade: var(--app-color-dark-shade);
  --app-color-background-tint: var(--app-color-dark-tint);
  --app-color-foreground: var(--app-color-light);
  --app-color-foreground-rgb: var(--app-color-light-rgb);
  --app-color-foreground-contrast: var(--app-color-light-contrast);
  --app-color-foreground-contrast-rgb: var(--app-color-light-contrast-rgb);
  --app-color-foreground-shade: var(--app-color-light-shade);
  --app-color-foreground-tint: var(--app-color-light-tint);
  --app-recolor-primary: brightness(0) saturate(100%) invert(26%) sepia(75%) saturate(1665%) hue-rotate(216deg) brightness(88%) contrast(85%);
  --app-recolor-secondary: brightness(0) saturate(100%) invert(44%) sepia(31%) saturate(5977%) hue-rotate(315deg) brightness(100%) contrast(103%);
  --app-recolor-tertiary: brightness(0) saturate(100%) invert(24%) sepia(57%) saturate(3733%) hue-rotate(253deg) brightness(76%) contrast(85%);
  --app-recolor-success: brightness(0) saturate(100%) invert(85%) sepia(31%) saturate(647%) hue-rotate(87deg) brightness(95%) contrast(99%);
  --app-recolor-warning: brightness(0) saturate(100%) invert(90%) sepia(92%) saturate(4736%) hue-rotate(322deg) brightness(104%) contrast(101%);
  --app-recolor-danger: brightness(0) saturate(100%) invert(31%) sepia(82%) saturate(2666%) hue-rotate(344deg) brightness(102%) contrast(91%);
  --app-recolor-dark: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(42%) hue-rotate(136deg) brightness(92%) contrast(91%);
  --app-recolor-medium: brightness(0) saturate(100%) invert(72%) sepia(2%) saturate(0%) hue-rotate(245deg) brightness(97%) contrast(94%);
  --app-recolor-light: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(349deg) brightness(110%) contrast(96%);
  --app-recolor-background: var(--app-recolor-dark);
  --app-recolor-foreground: var(--app-recolor-light);
  --app-gradient-primary: linear-gradient(135deg, var(--app-color-primary-tint) 0%, var(--app-color-primary-shade) 100%);
  --app-gradient-secondary: linear-gradient(135deg, var(--app-color-secondary-tint) 0%, var(--app-color-secondary-shade) 100%);
  --app-gradient-tertiary: linear-gradient(135deg, var(--app-color-tertiary-tint) 0%, var(--app-color-tertiary-shade) 100%);
  --app-gradient-success: linear-gradient(135deg, var(--app-color-success-tint) 0%, var(--app-color-success-shade) 100%);
  --app-gradient-warning: linear-gradient(135deg, var(--app-color-warning-tint) 0%, var(--app-color-warning-shade) 100%);
  --app-gradient-danger: linear-gradient(135deg, var(--app-color-danger-tint) 0%, var(--app-color-danger-shade) 100%);
  --app-gradient-dark: linear-gradient(135deg, var(--app-color-dark-tint) 0%, var(--app-color-dark-shade) 100%);
  --app-gradient-medium: linear-gradient(135deg, var(--app-color-medium-tint) 0%, var(--app-color-medium-shade) 100%);
  --app-gradient-light: linear-gradient(135deg, var(--app-color-light-tint) 0%, var(--app-color-light-shade) 100%);
  --app-image-primary: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=");
  --app-image-secondary: var(--app-image-primary);
  --app-image-tertiary: var(--app-image-primary);
  --app-image-success: var(--app-image-primary);
  --app-image-warning: var(--app-image-primary);
  --app-image-danger: var(--app-image-primary);
  --app-image-dark: var(--app-image-primary);
  --app-image-medium: var(--app-image-primary);
  --app-image-light: var(--app-image-primary);
  --app-image-background: var(--app-image-primary);
  --app-image-foreground: var(--app-image-primary);
  --app-image-header: var(--app-image-primary);
  --app-image-footer: var(--app-image-primary);
  --app-image-sidebar: var(--app-image-primary);
  --app-image-tabs: var(--app-image-primary);
  --app-image-featured: var(--app-image-primary);
  --app-image-1st: var(--app-image-primary);
  --app-image-2nd: var(--app-image-primary);
  --app-image-3rd: var(--app-image-primary);
}

/*# sourceMappingURL=dark-default.css.map */
