@import "@unistylus/core";

[variant] {
  display: block;
  position: relative;
  width: 100%;
  margin-top: m();
  
  .form-control {
    background: none;
    font-size: 1.15rem;
    padding: p('*', .7) p('*', .7) p('*', .7) p('*', .25);
    display: block;
    width: calc(100% - p('*', .95));
    border: none;
    border-bottom: 1px solid me();
    color: fg();
  }

  .form-control:focus {
    outline: none;
  }

  /* LABEL */

  .form-label {
    color: me();
    font-size: 1.15rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: p('*', .25);
    top: p('*', .7);
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
  }

  .form-control:focus ~ .form-label,
  .form-control:valid ~ .form-label {
    top: m('*', -1);
    font-size: .85rem;
    color: var(--app-color-#{$value});
  }

  /* BOTTOM BAR */

  .form-material-bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .form-material-bar:before,
  .form-material-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: var(--app-color-#{$value});
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .form-material-bar:before {
    left: 50%;
  }
  .form-material-bar:after {
    right: 50%;
  }

  .form-control:focus ~ .form-material-bar:before,
  .form-control:focus ~ .form-material-bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER */

  .form-material-highlight {
    position: absolute;
    height: 60%;
    width: 25%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .form-control:focus ~ .form-material-highlight {
    -webkit-animation: inputHighlighter .3s ease;
    -moz-animation: inputHighlighter .3s ease;
    animation: inputHighlighter .3s ease;
  }

  @-webkit-keyframes inputHighlighter {
    from {
      background: var(--app-color-#{$value});
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: var(--app-color-#{$value});
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: var(--app-color-#{$value});
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}
