h1, h2, h3, h4, h5, h6 {
  font-family: var(--app-font-head);
  font-weight: 500;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--app-color-primary);
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  border: none;
  background: none;
  outline: 0;
}
a.muted {
  color: var(--app-color-medium);
  text-decoration: none;
}
a.muted:hover, a.muted:focus, a.muted:active {
  color: var(--app-color-medium-shade);
}