.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list .item a {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid var(--app-color-background-shade);
  color: var(--app-color-foreground);
}
.list .item a:hover, .list .item a:focus, .list .item a:active {
  background: var(--app-color-background-shade);
  color: var(--app-color-foreground-shade);
  text-decoration: none;
}
.list .item a.active {
  background: var(--app-color-background-shade);
  font-weight: 700;
}
.list .item a .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.list .item a span {
  flex: 1;
  margin-left: 1rem;
}
.list .item:first-child a {
  border-top: 1px solid var(--app-color-background-shade);
}