.button-foreground {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 var(--app-size-spacing);
  border-radius: var(--app-size-radius);
  box-shadow: 0 3px 1px -2px rgba(var(--app-color-foreground-rgb), 0.2), 0 2px 2px 0 rgba(var(--app-color-foreground-rgb), 0.14), 0 1px 5px 0 rgba(var(--app-color-foreground-rgb), 0.12);
  position: relative;
  overflow: hidden;
  background: var(--app-color-foreground);
  color: var(--app-color-foreground-contrast);
}
.button-foreground + .button-foreground {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-foreground:hover, .button-foreground:focus, .button-foreground.active {
  outline: 0;
  text-decoration: none;
}
.button-foreground:disabled {
  opacity: 1;
  cursor: default;
  background: rgba(var(--app-color-foreground-rgb), 0.3);
  color: rgba(var(--app-color-foreground-contrast), 0.5);
}
.button-foreground span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: button_ripple 350ms linear;
  background-color: rgba(var(--app-color-foreground-contrast-rgb), 0.3);
}
@keyframes button_ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}