.table-striped-foreground {
  width: 100%;
  text-align: left;
  background: var(--app-color-background);
  color: var(--app-color-foreground-contrast);
}
.table-striped-foreground tr {
  margin: 0;
  padding: 0;
}
.table-striped-foreground th {
  font-weight: 700;
}
.table-striped-foreground th, .table-striped-foreground td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-color-background-shade);
}
.table-striped-foreground thead th {
  border-bottom: 1px solid var(--app-color-foreground);
}
.table-striped-foreground thead tr, .table-striped-foreground tbody tr:nth-of-type(even) {
  background: var(--app-color-foreground);
}
.table-striped-foreground tbody tr:nth-of-type(odd) {
  background: var(--app-color-foreground-shade);
}