.button-danger-sm {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  border-radius: var(--app-size-radius);
  box-shadow: var(--app-size-shadow);
  position: relative;
  overflow: hidden;
  background: var(--app-color-danger);
  color: var(--app-color-danger-contrast);
  padding: calc(var(--app-size-spacing) * 0.48) calc(var(--app-size-spacing) * 0.96);
  font-size: calc(0.8 * var(--app-size-font));
}
.button-danger-sm + .button-danger-sm {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-danger-sm:hover, .button-danger-sm:focus, .button-danger-sm.active {
  outline: 0;
  text-decoration: none;
}
.button-danger-sm:disabled {
  opacity: 1;
  cursor: default;
  background: rgba(var(--app-color-danger-rgb), 0.3);
  color: rgba(var(--app-color-danger-contrast), 0.5);
}
.button-danger-sm span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: button_ripple 350ms linear;
  background-color: rgba(var(--app-color-danger-contrast-rgb), 0.3);
}
@keyframes button_ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}