.icon-dark-1x {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1rem;
  height: 1rem;
  filter: var(--app-recolor-dark);
}