.button-outline-danger-xl {
  display: inline-block;
  border-radius: var(--app-size-radius);
  background: none;
  border: var(--app-size-border) solid var(--app-color-danger);
  color: var(--app-color-danger);
  padding: 0.5625rem 1.125rem;
  font-size: calc(1.5 * var(--app-size-font));
}
.button-outline-danger-xl + .button-outline-danger-xl {
  margin-right: 0.5rem;
}
.button-outline-danger-xl:hover, .button-outline-danger-xl:focus, .button-outline-danger-xl:active {
  outline: 0;
  background: var(--app-color-danger);
  border: var(--app-size-border) solid var(--app-color-danger);
  color: var(--app-color-danger-contrast);
  text-decoration: none;
}
.button-outline-danger-xl:focus, .button-outline-danger-xl:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-danger-rgb), 0.3);
}
.button-outline-danger-xl:disabled {
  opacity: 1;
  border: var(--app-size-border) solid rgba(var(--app-color-danger-rgb), 0.5);
  color: rgba(var(--app-color-danger-rgb), 0.5);
  box-shadow: none;
  background: none;
}