[default] {
  border: none;
  border-radius: var(--app-size-radius);
  padding: 0.25rem 0.5rem;
  font-size: 0.75em;
  background: var(--app-color-medium);
  color: var(--app-color-medium-contrast);
}